*
{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'arial', sans-serif;
    justify-content: flex-start;
}
section
{
    position:absolute;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    min-height: 100vh;
    vertical-align: baseline;
    min-width: 1002px;
    min-height: 100%;
}
section header-1
{
    position: absolute;
    height: 60px;
    width: 100%;
    top: 0;
    width: 100%;
    display:flex;
    justify-content: flex-start;
    padding:20px;
    background-color: #f1f1f1;
    margin:0px;
    margin-right: 0!important;
    margin-left: 0!important;
    white-space: nowrap;
}
section header-1 .image
{
	width: 92px;
	height:33px;
	float:left;
	padding-bottom: 5px;
}
section header-1 .image .image
{
	width:92px;
	height:37px;
}
section header-1 .links
{
	width: 100%;
	height: 100%;
	margin-left: 850px;
	margin-right: auto;
	padding-top: 5px;
    white-space: nowrap;
}
section header-1 ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
section header-1 ul li
{
    list-style: none;
    margin-left: 20px;
}
section header-1 ul li a
{
    color: black;
    text-decoration: none;
    font-size: 13px;
    color: #000000DE;
}
section header-1 .links ul a:hover
{
    text-decoration: underline;
}
section header-2
{
	margin-top: 60px;
	float: left;
	border-bottom: solid thin;
	width:100%;
	height: 23px;
	font-size: 20px;
	color: #f1f1f1;
	margin-left: 0px;
	padding-top: 23px;
	padding-left: 50px;
	padding-bottom: 48px;
	justify-content: flex-start;
    margin-right: 0!important;
    margin-left: 0!important;
}
section header-2 .font
{
	color:#D93025;
}
section .form
{
	height: 310px;
	width:100%;
	vertical-align: baseline;
	/*border: 1px solid;*/
	color: black;
	margin-top: 200px;
	margin-left: -1380px;
	float: left;
	padding-left: 20px;
	display: inline-block;
    clear: both;
    position: relative;
    flex-direction:column;

}
section .form ul
{
	justify-content: flex-start;
}
section .form .head
{
	font-size: 16px;
	color:#333333;
	padding-top: 20px;
	line-height: 20px;
	height: 20px;
	margin-top: 20px;
	
}
section .form ul li a .head
{
	font-family: arial sans-serif;
	padding-top: 20px;
}
section .form .input
{
	font-size: 13px;
	color:#222222;
}
section .form ul li a .input
{
	font-family: arial sans-serif;
	display: table-cell;
	padding-top: 20px;
	vertical-align: middle;
}
section .form .input-form1
{
	background-image: #ffffff;
	padding:1px 8px;
	height: 25px;
	min-width: 300px;
	margin-left: 90px;
	border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
}
section .form .input-form2
{
	background-image: #ffffff;
	padding:1px 8px;
	height: 25px;
	min-width: 300px;
	margin-left: 26px;
	border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
}
section .form .input-form3
{
	background-image: #ffffff;
	padding:1px 8px;
	height: 25px;
	min-width: 300px;
	margin-left: 68px;
	border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
}
section .form .input-form4
{
	background-image: #ffffff;
	padding:1px 8px;
	height: 25px;
	min-width: 300px;
	margin-left: 60px;
	border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
}
section .form ul
{
	list-style: none;
}
section .form .button .button
{
	user-select: none;
	-word-break: none;
	line-height: 100%;
	height:30px;
	min-width: 120px;
	background-color: #4d90fe;
    box-shadow: none;
    border: 1px solid #3079ed;
    color: #fff;
    border-radius: 2px;
    cursor: default;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    margin-left: 367px;
}
section .footer
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #f2f2f2;
}
section .footer
{
    padding: 15px 25px;
    border-top: 1px solid rgba(0,0,0,0.05);
    color: #5f6368;
    font-size: 14px;
    display: flex;
    /*justify-content: space-between;*/
}
section .footer ul
{
    display: flex;
}
section .footer ul li
{
    list-style: none;
}
section .footer ul li a
{
    text-decoration: none;
    font-size: 14px;
    color: #5f6368;
    margin-right: 25px;
}
section .footer ul li a:hover
{
   text-decoration: underline; 
}















