*
{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'arial', sans-serif;
}
section
{
    position:relative;
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}
section header
{
    position: absolute;
    top: 0;
    width: 100%;
    display:flex;
    justify-content: flex-end;
    padding:20px;
}
section header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
section header ul li
{
    list-style: none;
    margin-left: 20px;
}
section header ul li a
{
    color: black;
    text-decoration: none;
    font-size: 13px;
    color: #000000DE;
}
section header ul li a:hover
{
    border: 1px solid transparent;
    text-decoration: underline;
}
section .main
{
    width: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 130px;
}
section .main .searchBox
{
    position: relative;
    width: 100%;
    margin-top: 50px;
}
section .main .searchBox .search
{
    width: 100%;
    padding: 13px;
    padding-left: 45px;
    padding-right: 60px;
    border-radius: 30px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px;
}
section .main .searchBox .button_1
{
    margin-top: 10;
    padding: 12px 20px;
    color: #555;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid transparent;
    outline: none;
    align-items: center;
    margin-left: 150px;
    margin-top: 30px;
}
section .main .searchBox .button_2
{
    margin-top: 10;
    padding: 12px 20px;
    color: #555;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid transparent;
    outline: none;
    align-items: center;
    margin-left: 11px;
    margin-top: 30px;
}
section .main .searchBox .button_1:hover
{
    border: 1px solid #ccc;
}
section .main .searchBox .button_2:hover
{
    border: 1px solid #ccc;
}
section .main .searchBox .icons
{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    padding: 12px 20px;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
}
section .footer
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #f2f2f2;
}
section .footer
{
    padding: 15px 25px;
    border-top: 1px solid rgba(0,0,0,0.05);
    color: #5f6368;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}
section .footer ul
{
    display: flex;
}
section .footer ul li
{
    list-style: none;
}
section .footer ul li a
{
    text-decoration: none;
    font-size: 14px;
    color: #5f6368;
    margin-right: 25px;
}
section .footer ul li a:hover
{
   text-decoration: underline; 
}
